<!--
  Generated template for the Accommodations page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="amethyst">
    <ion-title align="center">Accommodations</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

<ion-fab *ngIf="isWeddingCreator" top right edge>
    <button ion-fab color="amethyst-reverse" (click)="addAccommodations()"><ion-icon name="add"></ion-icon></button>
</ion-fab>

<ion-list>
  <ion-item-sliding *ngFor="let accommodation of accommodations | async">

    <ion-item color = amethyst-reverse tappable detail-push (click)="goToAccomDetails(accommodation)">
      {{accommodation.name}}
    </ion-item>

      <ion-item-options side="right" [hidden]="!isWeddingCreator">

        <button ion-button color="primary" (click)="editAccommodation(accommodation)">
          <ion-icon name="create"></ion-icon>
          Edit
        </button>

        <button ion-button color="danger" (click)="deleteAccommodation(accommodation)">
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>

      </ion-item-options>


  </ion-item-sliding>  

</ion-list>

</ion-content>
