page-profile {

.profilePic {
  text-align: center;
  width: 50%;
  height:50%;
}

.profileName {
font-size: x-large;

}

.profileEmail {
font-size: large;

}

.profileDescription {
  opacity: 0.5;
  padding-left: 0px;
}

.profileRelationshipPicker {
  padding-left:0px;
  width: 100%;
}

.profileDescriptionText{
  display:inline-block;
  min-height: 100px;
  height: 50%;
  width:98%;
  padding-left: 5px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

$alert-ios-content-max-height: 500px;

.action-sheets-basic-page {
  text-align: center;
  width: 50%;
  height:50%;

  .ion-md-share {
    color: #ED4248;
  }
  .ion-md-arrow-dropright-circle {
    color: #508AE4;
  }
  .ion-md-heart-outline {
    color: #31D55F;
  }
  .action-sheet-cancel ion-icon,
  .action-sheet-destructive ion-icon {
    color: #757575;
  }
}

}


