page-profile {

.profilePic {
  text-align: center;
  width: 150px;
  height:150px;
}



$loading-ios-spinner-crescent-color: #9b59b6;
$loading-md-spinner-crescent-color: #9b59b6;

.profileName {
  font-size: x-large;

}

.profileEmail {
  font-size: large;

}

.profileDescription {
  opacity: 0.5;
  padding-left: 0px;
}

.profileRelationshipPicker {
  padding-left:0px;
  width: 100%;
}

.profileDescriptionText{
  display:inline-block;
  min-height: 100px;
  height: 50%;
  width:98%;
  padding-left: 5px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

$alert-ios-content-max-height: 500px;

.action-sheets-basic-page {
  text-align: center;
  width: 50%;
  height:50%;
  max-width: 300px;
  max-height: 300px;

.platform-android .ion-md-camera {
    color: #ED4248;
  }
.platform-android .ion-md-images {
    color: #508AE4;
  }
.platform-android .ion-md-heart-outline {
    color: #31D55F;
  }
.platform-android .action-sheet-cancel ion-icon,
.platform-android .action-sheet-destructive ion-icon {
    color: #757575;
  }
}

}


