page-profile {

.profilePic {
  text-align: center;
  width: 150px;
  height:150px;
}

.profileName {
font-size: x-large;

}

.profileEmail {
font-size: large;

}

.profileDescription {
  opacity: 0.5;
  padding-left: 0px;
}

.profileRelationshipPicker {
  padding-left:0px;
  width: 100%;
}

.profileDescriptionText{
  display:inline-block;
  min-height: 100px;
  height: 50%;
  width:98%;
  padding-left: 5px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

}
