<ion-header>
  <ion-navbar color="amethyst">
    <ion-title>
      Contacts
    </ion-title>
    <ion-buttons end>
        <button ion-button (click)="goToEmailInvite()">
          Next
          <ion-icon name="arrow-forward"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
  <ion-searchbar (ionInput)="searchContacts($event)"></ion-searchbar>
</ion-header>

<ion-content>

  <div *ngIf="searching">
    <ion-list>
      <ion-item *ngFor="let contact of sortedContacts">
        <ion-label>{{contact?.firstName}} {{contact?.lastName}} {{contact?.email}}</ion-label>
          <ion-checkbox checked="false" [(ngModel)]="contact.checked" color="amethyst" item-right (click) = "checkedContact(contact, contact.checked)"></ion-checkbox>
      </ion-item>
    </ion-list>  
   </div>   


  <div *ngIf="!searching">
    <ion-item-group *ngFor="let group of groupedContacts">
 
      <ion-item-divider color="amethyst-reverse">{{group.letter}}</ion-item-divider>
      <ion-item *ngFor="let contact of group.contacts">
        <ion-label>{{contact.firstName}} {{contact.lastName}} {{contact.email}}</ion-label>
          <ion-checkbox checked="false" [(ngModel)]="contact.checked" color="amethyst" item-right (click) = "checkedContact(contact, contact.checked)"></ion-checkbox>
      </ion-item>
 
    </ion-item-group>
  </div>


</ion-content>
