<ion-menu [content]="content">

  <ion-header>
    <ion-toolbar color="amethyst">
      <ion-title>WedUp!</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button color="amethyst-reverse" ion-item menuClose *ngFor="let p of appPages" (click)="openPage(p)">
        <ion-icon item-left [name]="p.icon"></ion-icon>
        {{p.title}}
      </button>
    </ion-list>

<!--     <ion-list>
      <button color="amethyst-reverse" ion-item menuClose (click)="goToManageWedding()">
        <ion-icon item-left name="options"></ion-icon>
        Manage My Wedding
      </button>
    </ion-list> -->


  <div>
    <ion-list>
      <ion-list-header class="menuListHeader">
      Your Weddings:
      </ion-list-header>
        <button color="amethyst-reverse" ion-item menuClose *ngFor="let wedding of weddingList" >
          {{wedding.weddingName}}
        </button>
    </ion-list>
  </div>

  </ion-content>

</ion-menu>
<ion-nav #content [root]="rootPage" swipeBackEnabled="false"></ion-nav>


