page-albumdetails {

.photoGallery{
	background-color: #000000;
	display: -webkit-flex;
  	-webkit-flex-direction: column;
	$list-ios-header-background-color: #000000;

}

.photo{
	background-color: #000000;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;

}




}
