<!--
  Generated template for the Albumdetails page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="amethyst">
    <ion-title>{{album.albumName}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="photoGallery" has-footer>

  <ion-row wrap>
    <ion-col width-33 *ngFor="let photo of photoList | async" (click) = loadHiResPhotos(photo)>
      <img src="{{photo.photoURL}}" [ngClass]="photoRotateStyle(photo.photoRotation)" />
    </ion-col>
  </ion-row>


  <div *ngIf="needMorePhotos">
    <button ion-button block color="amethyst" (click) = loadMorePhotos(10)>Load More Photos...</button>
  </div>
  
</ion-content>

<ion-footer>
	
  <ion-toolbar color="amethyst-reverse">
  	<ion-grid align="center">
  		 <ion-row>
  				 <ion-col width-33><button color="amethyst" ion-button outline icon-only tappable><ion-icon name="camera"></ion-icon></button></ion-col>
  				 <ion-col width-33><button color="amethyst" ion-button outline icon-only tappable><ion-icon name="photos"></ion-icon></button></ion-col>
  				 <ion-col width-33><button color="amethyst" ion-button outline icon-only tappable (click)="openGallery()"><ion-icon name="images"></ion-icon></button></ion-col>
  		</ion-row>
    </ion-grid>
  </ion-toolbar>

</ion-footer>
