<ion-header>
  <ion-navbar color="amethyst">
    <ion-title>
      Create a Wedding
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="weddingCreateForm" (submit)="createWedding(weddingName, fianceName)" novalidate>
    
    <ion-item>
      
      <ion-label stacked>Wedding Name</ion-label>

        <ion-input [(ngModel)]="weddingName" formControlName="weddingName" type="text" placeholder="Enter a Wedding Name" [class.invalid]="!weddingCreateForm.controls.weddingName.valid"></ion-input>

    </ion-item>

    <ion-item class="error-message" *ngIf="!weddingCreateForm.controls.weddingName.valid && submitAttempt">
      <p>Please enter a wedding name.</p>
    </ion-item>

    <ion-item>
      
      <ion-label stacked>Fiance's Name</ion-label>

        <ion-input [(ngModel)]="fianceName" formControlName="fianceName" type="text" placeholder="Enter your fiance's first name" [class.invalid]="!weddingCreateForm.controls.fianceName.valid"></ion-input>

    </ion-item>

    <ion-item class="error-message" *ngIf="!weddingCreateForm.controls.fianceName.valid && submitAttempt">
      <p>Please enter your fiance's first name.</p>
    </ion-item>

  <button color="amethyst" ion-button block type="submit">
      Submit
  </button>

  </form>

</ion-content>
