page-recents {

.groupName{
	
}

.chatBody{
	font-family:'Times New Roman';
	font-size:14px;
	font-style: normal;
}

.groupNameBold{
	font-weight: bold;
}

.chatBodyBold{
	font-family:'Times New Roman';
	font-size:14px;
	font-weight: bold;
}

}
