page-registrydetails {

.label{
	font-weight: bold;
	padding-left: 10px;
	

}

.item-inner{
	padding-left: 0px!important;
	margin-left: 0px;
}

.input-wrapper{
	padding-left: 0px!important;
	margin-left: 0px;
}


}
