page-wedding-invite {

ion-card {
    position: relative;
    text-align: center;
  }

    .card-title {
    position: absolute;
    top: 10%;
    font-size: 1.2em;
    width: 100%;
    font-weight: normal;
    color: #fff;
  }

   .card-weddingname {
    position: absolute;
    top: 20%;
    font-size: 1.6em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

   .card-subtitle {
    position: absolute;
    top: 35%;
    font-size: 1.2em;
    width: 100%;
    font-weight: normal;
    color: #fff;
  }

    .card-weddingkey {
    position: absolute;
    top: 45%;
    font-size: 1.6em;
    width: 100%;
    font-weight: bold;
    color: #fff;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
  }



}
