<!--
  Generated template for the Registries page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="amethyst">
    <ion-title align="center">Registries</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

<ion-fab *ngIf="isWeddingCreator" top right edge>
    <button ion-fab color="amethyst-reverse" (click)="addRegistry()"><ion-icon name="add"></ion-icon></button>
</ion-fab>

<ion-list>
  <ion-item-sliding *ngFor="let registry of registries | async">

    <ion-item color = amethyst-reverse tappable detail-push (click)="goToRegistryDetails(registry)">
      {{registry.name}}
    </ion-item>

      <ion-item-options side="right" [hidden]="!isWeddingCreator">

        <button ion-button color="primary" (click)="editRegistry(registry)">
          <ion-icon name="create"></ion-icon>
          Edit
        </button>

        <button ion-button color="danger" (click)="deleteRegistry(registry)">
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>

      </ion-item-options>

  </ion-item-sliding>
</ion-list>



</ion-content>
